@font-face {
	font-family: 'Roboto slab';
	src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
}
:root{
	--main-bg: #BEF2E6;
	--dark-bg: #ABDBCF;
	--page-title: #065A46;
	--success-btn: #FFFFFF;
	--delete-btn: #ED4C5C;
	--border-color: #C3CDCB;
	--black: #000000;
}

body{	
	font-family: 'Roboto slab';
	width: 100%;
	margin: 0;
	background: var(--main-bg);
}

/*************** HEADER.JS *******************/
.title, label, .btn-success{	
	font-weight: bold;
}

.header_icon{
	margin-top: 17px;
	width: 50px;
	height: 50px
}
.title{
	color: var(--page-title);
	font-size: 25px;
	line-height: 40px;
	margin-left: 150px;
}
.balloons{	
	position: relative;
	top: -20px;
	left: -50px;
}
.balloon_1{
	width: 90px;
	height: 85px;
	position: relative;
	top: 15px;
	left: 35px;
}
.balloon_2{
	width: 70px;
	height: 70px;
}


/***************** ENTRY.JS ********************/
.entry-pane{
	margin-top: 55px;
	margin-right: 80px;
}
label{
	font-size: 14px;
	line-height: 30px;
}

input.name-entry, input.day-entry, input.dob-entry, 
input.name-edit, input.day-edit, input.dob-edit,
.update-btn, .cancel-edit-btn{
	border: 1px solid var(--border-color);
	box-sizing: border-box;
	border-radius: 7px;
}
input.name-entry{ 
	position: relative;
	left: 15px;	
	width: 230px;	
	padding: 2px 10px;
}

.day-dob-entry-wrapper{
	margin-top: 10px;
}
.day-dob-entry{ 
	position: relative;
	left: 20px;		
}
input.day-entry{
	width: 70px;
	padding: 2px 0 2px 10px;
}
input.dob-entry{
	width: 140px;
	padding: 2px 0 2px 10px;	
	position: relative;
	left: 18px;	
}
.btn-success{
	margin-top: 20px;
	margin-left: 100px;
	border-radius: 7px;
	padding: 5px 15px;
	text-transform: uppercase;
}
.btn-success,.btn-success:not(:disabled):not(.disabled):active,
.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
 button.btn-add.btn-success:active{
	background: var(--success-btn);
	border-color: var(--success-btn);
	color: var(--page-title);

	
	box-shadow: none;
	border-width: 0px; 
}


/******************** DISPLAY.JS *******************/
.items-display{	
	width: 45%;
	height: 250px;
	margin-top: 50px;
	overflow-y: scroll;
	background: var(--success-btn);	
	border-bottom-right-radius: 20px;
	border-bottom-left-radius:  20px;
}
.items-display::-webkit-scrollbar{
	width: 0.07em;
}
.item-list{
	text-align: center;
	width: 100%;
}
td,th{	
	padding: 7px 0;
	border-right:1px solid #C3CDCB;
	border-bottom:1px solid #C3CDCB;
}
td{
	padding: 3px 0;
	font-size: 13px;
}

th{
	padding: 7px 0;
	border-top: none;
	font-size: 14px;
}
.item-det-name{
	text-transform: capitalize;
}
.edit-btn, .del-btn{
	width: 80px;
	text-transform: uppercase;
	font-size: 12px;
}
.edit-btn{
	color: var(--black);
	background: var(--main-bg);
}

.edit-btn:not(:disabled):not(.disabled):active,
.btn-light:hover,
.edit-btn:focus,
.edit-btn:not(:disabled):not(.disabled):active:focus,
.edit-btn:active{
	background: var(--dark-bg);
	border-color: var(--dark-bg);
 }

.del-btn{
	margin-left: 20px;
	background: var(--delete-btn);
	border-color: var(--delete-btn);
}




/******************* EDIT.JS **********************/
.edit-pane{
	margin-top: 50px;
}
.name-edit{
	width: 200px;	
	padding: 2px 10px; 
}
.day-edit{
	padding: 2px 0 2px 10px;
}
.dob-edit{
	width: 150px;
	padding: 1.5px 0 1.5px 10px;
}
.update-btn{
	color: var(--page-title);
}
.cancel-edit-btn{
	color: var(--delete-btn);
}



@media screen and (max-width: 285px){
	.title{
		font-size: 15px;
		margin-left: 30px;
		margin-top: -20px;
	}
	.title-header{
		position: relative;
		left: 30px;
	}
	.balloons{
		visibility: hidden;
	}
	
	.entry-pane{
		margin-top: -70px;
	}
	label{
		display: block;
		position: relative;
		left: 35px;
	}
	input.name-entry{
		position: relative;
		width: 200px;
		min-width: 150px;
		left: 40px;
	}
	input.day-entry{
		width: 60px;
	}
	input.dob-entry{
		width: 100px;
		min-width: 90px;
		position: relative;
		left: 15px;	
	}
	.day-dob-entry{
		margin-left: 30px;
	}
	button.btn-success{
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 3px 8px;
	}
	.items-display{	
		width: 80%;
		margin-top: 30px
	}
	th{
		font-size: 12px;
	}
	td{
		font-size: 9px;
	}
	.del-btn, .edit-btn{
		margin-left: 0;
		padding: 0;
		width: 50px;
		min-width: 50px;
	}
}

@media screen and (min-width: 287px) and (max-width: 600px){

	.title{
		font-size: 15px;
		margin-left: 30px;
		margin-top: -20px;
	}
	.title-header{
		position: relative;
		left: 30px;
	}
	.balloons{
		position: relative;
		top: -30px;
		left: -30px;
	}
	.balloon_1{
		width: 70px;
	}
	.balloon_2{
		width: 40px;
		position: relative;
		left: 10px;
	}

	.entry-pane{
		margin-top: 0;
	}
	label{
		display: block;
		position: relative;
		left: 35px;
	}
	input.name-entry{
		position: relative;
		width: 200px;
		min-width: 150px;
		left: 40px;
	}
	input.dob-entry{
		width: 110px;
		min-width: 90px;
		position: relative;
		left: 15px;	
	}
	.day-dob-entry{
		margin-left: 30px;
	}
	button.btn-success{
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 3px 8px;
	}
	.items-display{	
		width: 80%;
		margin-top: 30px
	}
	th{
		font-size: 12px;
	}
	td{
		font-size: 9px;
	}
	.del-btn, .edit-btn{
		margin-left: 0;
		padding: 0;
		width: 50px;
		min-width: 50px;
	}
}

@media screen and (min-width: 604px) and (max-width: 950px){
	.items-display{	
		width: 70%;
	}
}